/* Survey page styles */

.photo{
  width: 60%;
  padding: 10px;
}

form {
  margin: 0 auto;
  text-align: left;
  display: inline-block;
}

.container{
  text-align: center;
}

.newsletter{
  margin: auto;
}

.newsletter legend {
  display: none;
}

.signup {
  border: none;
}

.fav-members,
.fav-album,
.fav-song {
  border: none;
  margin: auto 0;
}

.survey {
  margin: auto 0;
}

/* Styles for larger screens */
@media screen and (min-width: 840px) {
  .photo{
    width: 40%;
  }
}
