/* Survey page styles */

.photo{
  width: 60%;
  padding: 10px;
}

form {
  margin: 0 auto;
  text-align: left;
  display: inline-block;
}

.container{
  text-align: left;
}

.survey {
  margin: auto 0;
}

.favorites {
  border: none;
  margin: auto 0;
}


.favorites p,
#albums,
label[for="albums"],
label[for="fav-song-text"] {
  display: block;
}

.favorites p {
  margin-bottom: 0.5em;
}

label[for="albums"],
label[for="fav-song-text"] {
  margin: 0.5em 0;
}

.newsletter label,
.newsletter input {
  display: inline-block;
}

.newsletter label {
  width: 25%;
  text-align: right;
  margin-right: 5%;
}

.newsletter input {
  width: 30%;
  margin-right: 20%;
  margin-top: 1.5em;
}

.favorites legend, 
.newsletter legend {
  display: none;
}

.signup {
  border: none;
}

#signup-button {
  display: block;
  margin-left: auto;
  margin-right: 39%;
  margin-top: 1.5em;
}

/* Styles for aria hints */

#signup-info,
#favs-info
 {
  font-size: 0.75em;
  line-height: 1.2em;
}





/* Styles for larger screens */
@media screen and (min-width: 840px) {
  .photo{
    width: 40%;
  }
}
